<nav class="navbar navbar-light" style="background-color: cadetblue;">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">
            <i class="fa-brands fa-shopify"></i>
            Ekart
        </span>
        <div class="d-flex">
            <div class="d-flex me-3">
                <input type="text" #searchkey class="form-control" aria-label="search" placeholder="Search">
                <button class="border-0 ms-3" style="background-color: cadetblue;" (click)="searchInput(searchkey.value)"><i class=" fa-solid fa-magnifying-glass"></i></button>
            </div>
            <a routerLink="/wish" class="btn btn-outline-dark me-3">
                <i class="fa-regular fa-heart" style="color: #ad0065;"></i>
                WishList
                <span class="badge bg-dark ms-2">{{wishCount}}</span>
            </a>
            <a routerLink="/cart" class="btn btn-outline-dark me-3">
                <i class="fa-solid fa-cart-shopping"></i>
                Cart
                <span class="badge bg-dark ms-2">{{cartCount}}</span>
            </a>
            <a routerLink="/log" class="btn btn-outline-dark me-3" *ngIf="!loginStatus">
                <i class="fa-regular fa-user"></i>
                Login
            </a>
            <span *ngIf="loginStatus">
                <i class="fa-regular fa-user"></i>
                {{user}}
                <button class="btn btn-outline-danger" (click)="logOut()">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    Logout
                </button>
            </span>
        </div>
    </div>
</nav>